.projects_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    width: 1000px;
    margin: 50px auto;
    justify-self: center;
}
.project_card{
    text-align: center;
    color: white;
    background-color: rgb(0, 96, 221);
    width: 250px;
    height: 300px;
    box-shadow: 4px 4px 10px black;
    border-radius: 5px;
    border: 1px solid rgb(194, 191, 191);
}
.project_card h2 {
    height: 66px;
}
.project_card hr {
    margin: 0 10px;
}
.project_card a {
    display: block;
    margin: 0 auto;
    color: white;
    background-color: rgb(63, 63, 63);
    padding: 5px;
    text-decoration: none;
    width: 60%;
    border-radius: 10px;
    border: 1px solid white;
}
.project_card a:hover {
    color: gray;
    box-shadow: 4px 4px 8px black;
}
form{
    margin-top: 20px;
}
form input{
    width: 90%;
    max-width: 1000px;
    height: 30px;
    border: 1px solid rgb(0, 96, 221);
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    text-align: center;
}
form h3{
    text-align: center;
}
form button{
    display: block;
    margin: 20px auto;
    background-color: green;
    font-size: 1.2em;
    color: white;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px 20px;
}
form button:hover{
    box-shadow: 2px 2px 4px black;
}