<%- include('./includes/head.ejs') %> 
</head>
<body>
    <%- include('./includes/nav.ejs') %>
    <div class="main_header">
        <h1 class="heading">Experience Page</h1>
    </div>
    <hr class="main_hr">
    <p style="text-align: center; padding: 50px; color: rgb(0, 96, 221);">This page is still under development</p>
</body>
<%- include('./includes/footer.ejs') %>
</body>
</html>
